USE [master]
GO
/****** Object:  Database [CRUDWebAppEvaluationDB]    Script Date: 23/01/2024 22:59:39 ******/
CREATE DATABASE [CRUDWebAppEvaluationDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRUDWebAppEvaluationDB', FILENAME = N'C:\Users\kargi\CRUDWebAppEvaluationDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CRUDWebAppEvaluationDB_log', FILENAME = N'C:\Users\kargi\CRUDWebAppEvaluationDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRUDWebAppEvaluationDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRUDWebAppEvaluationDB]
GO
/****** Object:  Table [dbo].[Evaluation]    Script Date: 23/01/2024 22:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evaluation](
	[StartDate] [smalldatetime] NOT NULL,
	[Storeid] [int] NOT NULL,
	[id] [int] NOT NULL,
	[detid] [tinyint] NOT NULL,
	[Score] [tinyint] NULL,
	[Comments] [varchar](500) NULL,
	[IfAmountAsset] [bit] NULL,
	[AmountAsset] [decimal](18, 0) NULL,
	[DateAsset] [smalldatetime] NULL,
	[AmountRemain] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[StartDate] ASC,
	[Storeid] ASC,
	[id] ASC,
	[detid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
