@{
    ViewData["Title"] = "Evaluation Details";
}

<p id="message"></p>


<h1>Evaluation Details</h1>

<!-- Add other details as needed -->

<div data-ng-app="RESTClientModule">
    <!-- ng-init => Call the 'getEvaluationIdByURL()' (which includes the 'theEvalutionId') while load the page -->
    <div data-ng-controller="CRUD_ControllerEvaluations" ng-init="getEvaluationIdByURL()">
        <!-- Subtitle moved here since the 'theEvalutionId' is declared by the Controller -->
        <p>Details for evaluation with ID: {{theEvalutionId}}</p>
        <!-- Define and assign a value with EvaluationId (getEvaluationByIdGet() gives back a populated 'evaluation' object) -->
        <div ng-init="getEvaluationByIdGet(theEvalutionId)"></div>
        <!-- Evaluations table -->
        @{
            <partial name="/Views/Shared/Tables/EvaluationTableEditable.cshtml" />
        }
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
<script src="~/js/evaluationcontroller.js" type="module"></script>
