@{
    <!-- Define browser top-tab title -->
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p id="message"></p> <!-- a response message coming from the backend for Add/Update/Delete -->

<div data-ng-app="RESTClientModule">
    <div data-ng-controller="CRUD_ControllerEvaluations">

        <!-- Tables, buttons, forms added from now on -->

        <!-- Get an ALL evaluations -->
        <button ng-click="getAllEvaluations()">Get All Evaluations</button>
        <!-- Place the table -->
        @{
            <partial name="/Views/Shared/Tables/EvaluationTableReadOnly.cshtml" />
        }

        <br />

        <!-- Get an Evaluation by id -->
        <form>
            <label>Search/Update/Delete Evaluation by ID: <input type="number" ng-model="thisEvaluation.id" required></label>
            <button type="button" ng-click="getEvaluationByIdPost(thisEvaluation)">Get Evaluation by ID</button>
            <!-- Display the result -->
            <div ng-show="evaluation">
                <h3>Result:</h3>
                <!-- Place the table -->
                @{
                    <partial name="/Views/Shared/Tables/EvaluationTableSearchedById.cshtml" />
                }
            </div>
        </form>

        <br />
        <br />

        <!-- Add/Update Evaluation -->
        <form>
            <div ng-init="theEvaluation.ifAmountAsset=false"></div> <!-- Initialize checkbox to false -->
            <!-- Place the table -->
            @{
                <partial name="/Views/Shared/Tables/EvaluationTableAdd.cshtml" />
            }
            <!-- Add Button -->
            <button ng-click="addNewEvaluation(theEvaluation)">Add</button>
            <button ng-click="updateEvaluation(theEvaluation)">Update</button>
        </form>

        <br />
        <br />
        <!-- Form to delete an evaluation by ID -->
        <form ng-submit="deleteEvaluation(inputEvaluationId)">
            <label>Delete Evaluation by ID: <input type="text" ng-model="inputEvaluationId" required></label>
            <button type="submit">Delete</button>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
<script src="~/js/evaluationcontroller.js" type="module"></script>
