<table>
    <tr>
        <td><label for="startDate">Start Date:</label></td>
        <td><input type="text" id="startDate" ng-model="theEvaluation.startDate" required></td>
    </tr>
    <tr>
        <td><label for="storeId">Store ID:</label></td>
        <td><input type="number" id="storeId" ng-model="theEvaluation.storeid"></td>
    </tr>
    <tr>
        <td><label for="id">ID:</label></td>
        <td><input type="number" id="id" ng-model="theEvaluation.id" required></td>
    </tr>
    <tr>
        <td><label for="detid">Details ID:</label></td>
        <td><input type="number" id="detid" ng-model="theEvaluation.detid" min="0" max="255"></td>
    </tr>
    <tr>
        <td><label for="score">Score:</label></td>
        <td><input type="number" id="score" ng-model="theEvaluation.score" min="0" max="255"></td>
    </tr>
    <tr>
        <td><label for="comments">Comments:</label></td>
        <td><input type="text" id="comments" ng-model="theEvaluation.comments" maxlength="500"></td>
    </tr>
    <tr>
        <td><label for="ifAmountAsset">If Amount Asset:</label></td>
        <td><input type="checkbox" id="ifAmountAsset" ng-model="theEvaluation.ifAmountAsset" ng-true-value="true" ng-false-value="false"></td>
    </tr>

    <tr>
        <td><label for="amountAsset">Amount Asset:</label></td>
        <td><input type="number" id="amountAsset" ng-model="theEvaluation.amountAsset"></td>
    </tr>
    <tr>
        <td><label for="dateAsset">Date Asset:</label></td>
        <td><input type="date" id="dateAsset" ng-model="theEvaluation.dateAsset"></td>
    </tr>
    <tr>
        <td><label for="amountRemain">Amount Remain:</label></td>
        <td><input type="number" id="amountRemain" ng-model="theEvaluation.amountRemain"></td>
    </tr>
</table>