<table style="border-collapse: collapse;">
    <thead>
        <tr>
            <th style="border: 1px solid black;">Select</th>
            <th style="border: 1px solid black;">New Tab</th>
            <th style="border: 1px solid black;">Delete</th>
            <th style="border: 1px solid black;">Start Date</th>
            <th style="border: 1px solid black;">Store ID</th>
            <th style="border: 1px solid black;">ID</th>
            <th style="border: 1px solid black;">Details ID</th>
            <th style="border: 1px solid black;">Score</th>
            <th style="border: 1px solid black;">Comments</th>
            <th style="border: 1px solid black;">If Amount Asset</th>
            <th style="border: 1px solid black;">Amount Asset</th>
            <th style="border: 1px solid black;">Date Asset</th>
            <th style="border: 1px solid black;">Amount Remain</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="evaluation in evaluations">
            <td style="border: 1px solid black;">
                <!-- Save (copy) the data so that it is automatically filled in the other form -->
                <button ng-click="selectEvaluation(evaluation)">Select</button>
            </td>
            <td style="border: 1px solid black;">
                <button ng-click="getEvaluationDetails(evaluation.id)">New Tab</button>
            </td>
            <td style="border: 1px solid black;">
                <button ng-click="deleteEvaluation(evaluation.id)">Delete</button>
            </td>
            <td style="border: 1px solid black;">{{ evaluation.startDate }}</td>
            <td style="border: 1px solid black;">{{ evaluation.storeid }}</td>
            <td style="border: 1px solid black;">{{ evaluation.id }}</td>
            <td style="border: 1px solid black;">{{ evaluation.detid }}</td>
            <td style="border: 1px solid black;">{{ evaluation.score }}</td>
            <td style="border: 1px solid black;">{{ evaluation.comments }}</td>
            <td style="border: 1px solid black;">{{ evaluation.ifAmountAsset }}</td>
            <td style="border: 1px solid black;">{{ evaluation.amountAsset }}</td>
            <td style="border: 1px solid black;">{{ evaluation.dateAsset }}</td>
            <td style="border: 1px solid black;">{{ evaluation.amountRemain }}</td>
        </tr>
    </tbody>
</table>